.filter-button {
    position: fixed;
    left: 0%;
    top: 50%;
    cursor: pointer;
    border: 1px solid black;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.filter-button .slider {
    width: 30px;
    height: 30px;
}

.filter-button .chevron {
    width: 15px;
    height: 15px;
}

.filter-container {
    background-color: #5ECE7B;
    position: fixed;
    left: 0%;
    top: 15%;
    min-height: 75vh;
    min-width: 10vw;
    z-index: 20;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    animation: width 2s ease-out;
}



.filter-container img {
    height: 30px;
    width: 30px;
    position: absolute;
    right: -10%;
    background-color: #5ECE7B;
    top: 50%;
    cursor: pointer;
    animation: height width 0.5s ease-in-out;
}

.filter-container .filter-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.filter-container .filter-section .Color .color-filter {
    height: 10px;
    width: 10px;
    padding: 10px;
    margin: 5px;
    outline: none;
    border: none;
}

.filter-container .filter-section p {
    color: white;
    font-size: 1em;
    text-align: center;
    margin: 5px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
}

.filter-container .filter-section .Color .color-filter.selected {
    padding: 15px;
}

.filter-container .filter-section .checkboxes .radio-fragment {
    display: flex;
    justify-content: center;
    align-items: center;
}

.filter-container .filter-section div select {
    background-color: white;
    outline: none;
    border: none;
    padding: 5px;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
}

.filter-container .filter-buttons button{
    padding: 10px;
    margin: 10px;
    color: white;
    background-color: transparent;
    outline: none;
    border: 2px solid black;
    text-transform: capitalize;
    font-family: 'Roboto Condensed', sans-serif;
    cursor: pointer;
}

.filter-container .filter-buttons button:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.filter-container .filter-buttons .clear {
    color: black;
    font-weight: bolder;
}